.header,
.questions-question {
  margin-bottom: 30px;
}
.header-main-title {
  font-size: 100px;
}
.questions-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions-options-button {
  margin-bottom: 3px;
  font-size: 15px;
}
.questions-options-button:hover {
  background-color: green;
  cursor: pointer;
}
.result-first-link {
  margin-top: 50px;
}
