<header class="header">
  <h1 class="header-main-title">CodeFeed</h1>
  <h2>{{ title }}</h2>
</header>
<main>
  <div *ngIf="!isFinished" class="questions">
    <h1 class="questions-question">{{ selectedQuestion.question }}</h1>
    <div class="questions-options">
      <button
        class="questions-options-button"
        *ngFor="let option of selectedQuestion.options; index as i"
        (click)="handleChooseQuestion(option.alias)"
      >
        {{ option.name }}
      </button>
    </div>
  </div>
  <div *ngIf="isFinished" class="result">
    <h1>Resultado: {{ answerSelected }}</h1>
    <p>
      Separei dois roadmaps para complementar seu conhecimento em dotnet!
      Divirta-se.
    </p>
    <a
      class="result-first-link"
      href="https://github.com/MoienTajik/AspNetCore-Developer-Roadmap"
    >
      👉 ASP.NET Core developer roadmap</a
    >
    <br />
    <a href="https://roadmap.sh/aspnet-core">👉 Roadmap.sh - ASP.NET Core</a>
  </div>
</main>
