<header class="header">
  <h1 class="header-main-title">CodeFeed</h1>
  <h2>{{ title }}</h2>
</header>
<main>
  <div *ngIf="!isFinished" class="questions">
    <h1 class="questions-question">{{ selectedQuestion.question }}</h1>
    <div class="questions-options">
      <button
        class="questions-options-button"
        *ngFor="let option of selectedQuestion.options; index as i"
        (click)="handleChooseQuestion(option.alias)"
      >
        {{ option.name }}
      </button>
    </div>
  </div>
  <div *ngIf="isFinished" class="result">
    <h1>Resultado:</h1>
    <p>{{ answerSelected }}</p>
    <div [ngSwitch]="answerSelected">
      <div *ngSwitchCase="'Nível Baixo'">
        <h1>roadmap de nível baixo</h1>
      </div>
      <div *ngSwitchCase="'Nível Médio'">
        <h1>roadmap de nível médio</h1>
      </div>
      <div *ngSwitchCase="'Nível Alto'">
        <h1>roadmap de nível alto</h1>
      </div>
    </div>
  </div>
</main>
