<div class="container">
  <div class="title">
    <h1>BeezFeed</h1>
    <h2>{{ title }}</h2>
  </div>
  <div *ngIf="!isFinished" class="questions">
    <h1>{{ selectedQuestion.question }}</h1>
    <button
      *ngFor="let option of selectedQuestion.options; index as i"
      (click)="handleChooseQuestion(option.alias)"
    >
      {{ option.name }}
    </button>
  </div>
  <div *ngIf="isFinished" class="result">
    <h1>Resultado:</h1>
    <p>{{ answerSelected }}</p>
    <div>
      <div *ngIf="answerSelected === 'Nível Baixo'">
        <h1>roadmap de nível baixo</h1>
      </div>
      <div *ngIf="answerSelected === 'Nível Médio'">
        <h1>roadmap de nível médio</h1>
      </div>
      <div *ngIf="answerSelected === 'Nível Alto'">
        <h1>roadmap de nível alto</h1>
      </div>
    </div>
  </div>
</div>
