:root {
  --white-8: rgba(255, 255, 255, 0.8);
  --white-10: rgba(255, 255, 255, 1);
  --blackBackground: rgba(23, 25, 35, 1);
  --blueLink-10: rgba(51, 102, 204, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(23, 25, 35, 1); /* --blackBackground */
}
button {
  border-radius: 0;
  line-height: 25px;
  width: 30em;
  height: 100px;
  border: none;
  outline: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none;
  color: var(--white-8);
}
a:hover {
  text-decoration: underline;
  color: var(--blueLink-10);
}
/* Utils */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: var(--white-8);
}
